<h2>Go young grasshopper.</h2> 
<p><%= link_to 'Go now', new_task_path %></p>

<h3>Your tasks here:</h3>	
<% @tasks.each do |task| %>
	<ol>
		<p><li><em><%= task.title %></em></li> </p> 
				<%= task.category %>
				<%= task.priority %>
				<%= task.is_completed %>
		</ol>
<% end %>
